@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
    
    --color-primary-500: 0 229 255;
    

    
    --color-secondary-500: 255 0 255;
    
    --color-tertiary-500: 57 255 20;
    
    --color-background-500: 19 25 39;
    
    --color-background-900: 11 16 27;
} */